/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
}

#hero-section {
    background-image: url("images/kolkata.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color: #F1FAEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}

#title1 {
    background: #1D3557;
    padding: 6px 12px;
    border-radius: 5px;
    margin: 0;
    width: 450px;
    margin: 130px 0 0 0;
}

#title2 {
    background: #457B9D;
    padding: 6px 12px;
    border-radius: 5px;
    width: 550px;
    margin-top: 15px;
}

#activities-section {
    background: #F1FAEE;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#activities-info {
    width: 930px;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 250px;
}

.place {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #a2d2ff;
    box-shadow: 10px 10px black;
}

#guide-img {
    width: 150px;
}

#guide-info {
    width: 200px;
}
